body::before {
    display: block;
    content: '';
    height: 60px;
}
.lead{
    font-weight: 400;
}
.bg-lightblue{
    background-color: #4886ff;
}
.bg-lightgreen{
    background-color: #b5d56a;
}
.bg-redish{
    background-color: #ff6f6f;
}
.bg-lightblue, .bg-lightgreen, .bg-redish{
    border-radius: 5px;
}
